@font-face{
  font-family: 'DS-DIGI';
  src:url('DS-DIGI.TTF') format('truetype');
}

html{
  width: 100%;
  height: 100%;
}

body{
  margin: 0;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p{
  margin: 0;
}

span{
  margin-right: 16px;
}

.hidden {
  display: none;
}

#clock{
  font-size: 112px;
  margin-top: 13%;
  mix-blend-mode: difference;
  color: white;
  font-family: "DS-DIGI";
  text-align: center;
}

#greeting, #quote, #weather{
  text-align: center;
  mix-blend-mode: difference;
  color: white;
}

#todo-form{
  text-align: center;
}

#todo-list{
  padding: 0;
  text-align: center;
}
#todo-list li{
  list-style: none;
  mix-blend-mode: difference;
  color: white;
}

#weather{
  text-align: right;
}

#expand-menu{
  display: none;
}
#expand-menu:checked ~ ul{
  display: block;
  height: auto;
}

#menu{
  display: block;
  width: 200px;
  background-color: #000;
  color: #fff;
  border-radius: 20px;
  padding: 10px;
  box-sizing: border-box;
  overflow: hidden;
  transition: all 0.5s ease;
}
#menu ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
#menu a, #menu>label{
  display: block;
  height: 25px;
  padding: 8px;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
}
#menu a:hover{
  color: #000;
}
#menu ul li:hover, #menu > label:hover{
  background-color: #fff;
  color: #000;
  border-radius: 10px;
}
#menu div{
  position: absolute;
  left: 50px;
  line-height: 1.5;
  font-size: 1em;
  font-family: 'Noto Sans KR';
  padding: 0 0 0 20px;
}
#menu #expand-menu:not(:checked) ~ ul{
  display: none;
}

#menu ::before{
  font-family: 'Material Icons';
  font-size: 1.5em;
  float: left;
  clear: left;
}
#menu label::before{content: '\e5d2';}
#menu li:nth-child(1) a::before{content: '\f02e';}

@media screen and (max-width:1023px){
  #menu{
    width: 60px;
  }
}
@media screen and (max-width:560px){
  #menu #expand-menu:not(:checked) ~ ul{
    display: none;
  }
}
